@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

input, textarea, select {
  font-size: 18px !important;
  color: #1A1A1A !important;
  -webkit-text-fill-color: #1A1A1A !important;
  opacity: 1 !important;
}

input::placeholder, textarea::placeholder {
  color: #888888 !important;
  -webkit-text-fill-color: #888888 !important;
  opacity: 1 !important;
}
